body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.service {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 60%;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
}

.service:hover {
    transform: translateY(-5px);
}

.icon img {
    width: 170px;
    height: 140px;
    margin-right: 20px;
}

.content {
    flex-grow: 1;
}

.content h2 {
    margin-top: 0;
    color: #070000;
}

.content p {
    color: #666;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #c7170b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #dd7616;
}

.page-top .container .row .col-md-12 h2 {
    text-align: right !important;
}

